body {
    background-color: #020016;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}

.navbar {
    background-color: #020016;
    padding: 1rem 3.75rem;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 3.75rem;
    width: 12.5rem;
}

.navbar-menu {
    display: flex;
    gap: 2.5rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    position: relative;
}

.navbar-menu a {
    color: #ffffff;
    font-size: 0.9375rem;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.navbar-menu a:hover::after {
    width: 100%;
}

.navbar-menu a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 0.125rem;
    bottom: -0.125rem;
    left: 0;
    background-color: #ffffff;
    transition: width 0.3s ease-in-out;
}

.divider {
    width: 100%;
    height: 0.01875rem;
    background-color: #FFFFFF;
    opacity: 0.3;
}

.page {
    height: 100%;
    width: 90rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    position: absolute;
    width: 65.125rem;
    height: 48.25rem;
    top: 12.3125rem;
    left: 12.4375rem;
    border: 0.0625rem solid #64618CCC;
    border-radius: 0.75rem;
    gap: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.event {
    color: #FFFFFF;
    height: 3.6875rem;
    width: 90rem;
    position: absolute;
    top: 67.5625rem;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 2.75rem;
    line-height: 3.7125rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.allevents {
    width: 75rem;
    height: 132.5rem;
    padding-top: 0px;
    position: absolute;
    top: 73.25rem;
    left: 3.4375rem;
    gap: 2rem;
 
}

.line {
    width: 75rem;
    margin-left: 5rem;
    height: 0.0625rem;
    background-color: #64618CCC;
}

.event1 {
    display: flex;
    padding: 4.5rem 0px 4.5rem 4.5rem;
    gap: 1.25rem;
    border-color: #64618CCC;
}

.left1, .left2, .left3, .left4 {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 36.875rem;
    height: 19.6875rem;
    gap: 4rem;
    color: white;
}

.right1, .right2, .right3, .right4 {
    width: 36.875rem;
    height: 22.625rem;
    gap: 0px;
    border-radius: 1rem;
    border: 0.125rem solid #FFFFFF66;
    background-size: cover;
    background-position: center;
}

.right1 {
    background-image: url('/image1.png');
}

.right2 {
    background-image: url('/image2.png');
}

.right3 {
    background-image: url('/image3.png');
}

.right4 {
    background-image: url('/image4.png');
}

.date-div {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    width: 8rem;
    height: 2.6rem;
    padding: 0;
    background-color: rgba(0, 0, 100, 0.181);
    border: 0.0625rem solid white;
    border-radius: 0.3125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    line-height: 1;
}

.left1 li, .left2 li, .left3 li, .left4 li {
    margin: 0.3125rem;
}

.heading {
    font-family: 'DM Sans';
    font-size: 1.5rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 0.625rem;
}

.heading-date-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
