body{
    background-color: #020016;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}
.navbar {
    background-color: #020016;
    padding: 16px 60px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 60px;
    width: 200px;
}

.navbar-menu {
    display: flex;
    gap: 40px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-menu li {
    position: relative;
}

.navbar-menu a {
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    text-transform: none;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.navbar-menu a:hover::after {
    width: 100%;
}

.navbar-menu a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #ffffff;
    transition: width 0.3s ease-in-out;
}

.divider {
    width: 100%;
    height: 0.3px;
    background-color: #FFFFFF;
    opacity: 0.3;
}
.divider {
    width: 100%;
    height: 0.3px;
    background-color: #FFFFFF;
    opacity: 0.3;
}
.page{
    height:100%;
    width: 1440px;
   
    
}
.hero{
position: absolute;
width: 1042px;
/* background-color: aquamarine; */
height: 772px;
top: 197px;
left: 199px;
border : 1px solid #64618CCC;
border-radius: 12px;
gap: 0px;
opacity: 0px;

}
.event{
  color: #FFFFFF;
  height: 59px;
  width: 1440px;
  position: absolute;
  Top: 1081px;
  font-family: sans-serif;  
  font-weight: 700;
  font-size: 44px;
  line-height: 59.4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.allevents{
width: 1,200px;
height: 2,120px;
padding-top: 0px;
position: absolute;
top:1172px;
left: 55px;
gap: 32px;
opacity: 0px;

}
.line{
    width: 1200px;
    margin-left: 80px;
    height:1px;
    background-color: #64618CCC; 
}
.event1{
display: flex;
width: Fill (1,200px)px;
height: Hug (506px)px;
padding: 72px 0px 72px 72px;
gap: 20px;
border: 0px 0px 1px 0px;
opacity: 0px;
border-color: #64618CCC;
}
.left1{
width: 590px;
height: 315px;
gap: 64px;
opacity: 0px;
/* background-color: brown; */
color: white;
}
.right1{
    width: 590px;
    height: 362px;
    gap: 0px;
    border-radius: 16px;
    border: 2px solid #FFFFFF66;
    opacity: 0px;
    background-image: url('/image1.png'); 
    background-size: cover;
    background-position: center;
}
.left2{
    width: 590px;
    height: 315px;
    gap: 64px;
    opacity: 0px;
    color: white;
    /* background-color: brown; */
    }
 .right2{
    width: 590px;
    height: 362px;
    gap: 0px;
    border-radius: 16px;
    border: 2px solid #FFFFFF66;
    opacity: 0px;
    background-image: url('/image2.png'); 
    background-size: cover;
    background-position: center;
    }
    .left3{
        width: 590px;
        height: 315px;
        gap: 64px;
        opacity: 0px;
        color: white;
        /* background-color: brown; */
        }
        .right3{
            width: 590px;
    height: 362px;
    gap: 0px;
    border-radius: 16px;
    border: 2px solid #FFFFFF66;
    opacity: 0px;
    background-image: url('/image3.png'); 
    background-size: cover;
    background-position: center;
        }
        .left4{
            font-family: Arial, Helvetica, sans-serif;
            width: 590px;
            height: 315px;
            gap: 64px;
            opacity: 0px;
            /* background-color: brown; */
            color: white;
            }
            .right4{
                width: 590px;
    height: 362px;
    gap: 0px;
    border-radius: 16px;
    border: 2px solid #FFFFFF66;
    opacity: 0px;
    background-image: url('/image4.png'); 
    background-size: cover;
    background-position: center;
            }
    .date-div{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 800;
        width: 20%;
        height: 10%;
        display: flex;
        border-right: 2px solid white;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-radius: 5%;
        padding: 5px;
        background-color: rgba(0, 0, 100, 0.181);
    }
    .left1 li{
        margin: 5%;
    }              
    .left2 li{
        margin: 5%;
    }  
    .left3 li{
        margin: 5%;
    }  
    .left4 li{
        margin: 5%;
    }  
